body {
  margin: 0px;
}
body #containerBig {
  width: 100%;
  height: 100vh;
}
body #containerBig header {
  width: 100%;
  height: 12%;
  background-color: black;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 600px) {
  body #containerBig header {
    font-size: 12px;
  }
}
body #containerBig header a {
  color: white;
  text-decoration: none;
}
body #containerBig header .menu :hover {
  color: rgb(255, 204, 0);
}
body #containerBig header .logo-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  height: 40px;
  width: 100px;
  text-align: right;
}
body #containerBig header .logo-block :nth-child(2) {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  margin-right: 3px;
}
@media (max-width: 600px) {
  body #containerBig header .logo-block :nth-child(2) {
    font-size: 14px;
  }
}
body #containerBig header .logo-block :nth-child(3) {
  font-size: 10px;
  color: rgb(255, 204, 0);
  letter-spacing: 3px;
}
@media (max-width: 600px) {
  body #containerBig header .logo-block :nth-child(3) {
    font-size: 10px;
    letter-spacing: 1px;
  }
}
body #containerBig header .logo-block .logo {
  position: absolute;
  height: 23px;
  width: 25px;
  left: 22px;
  top: 0px;
}
@media (max-width: 600px) {
  body #containerBig header .logo-block .logo {
    height: 18px;
    width: 18px;
    left: 15px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  body #containerBig header .logo-block .logo {
    height: 18px;
    width: 18px;
    left: 20px;
  }
}
body #containerBig header .menu-block {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
body #containerBig main {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-size: contain;
}
body #containerBig main a {
  text-decoration: none;
}
body #containerBig main #container1 {
  width: 100%;
  height: 100vh;
}
@media (max-width: 760px) {
  body #containerBig main #container1 {
    height: 80vh;
    font-size: 14px;
  }
}
@media (max-width: 592px) {
  body #containerBig main #container1 {
    font-size: 12px;
  }
}
body #containerBig main #container1 .slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
body #containerBig main #container1 .slider .btCont {
  position: absolute;
  z-index: 8;
  opacity: 50%;
  width: 100px;
  height: 100%;
}
body #containerBig main #container1 .slider #btCont2 {
  right: 0px;
}
body #containerBig main #container1 .slider .btCont :hover {
  background-color: black;
  cursor: pointer;
}
body #containerBig main #container1 .slider .sliderPrev, body #containerBig main #container1 .slider .sliderNext {
  width: 100%;
  height: 100%;
}
body #containerBig main #container1 .slider button {
  height: 50px;
  width: 100px;
  border: 1px white solid;
  background: transparent;
  color: white;
  font-size: 16px;
}
body #containerBig main #container1 .slider .wrapper {
  height: 100%;
  position: relative;
  display: flex;
  transition: all 2s;
}
body #containerBig main #container1 .slider .wrapper .slide {
  flex-shrink: 0;
  width: 100%;
}
body #containerBig main #container1 .slider .wrapper .slide a {
  color: white;
}
body #containerBig main #container1 .slider .wrapper .slide .items {
  display: flex;
  width: 80px;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
body #containerBig main #container1 .slider .wrapper .slide .items .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: grey;
}
@media (max-width: 890px) {
  body #containerBig main #container1 .slider .wrapper .slide .items .circle {
    display: none;
  }
}
body #containerBig main #container1 .slider .wrapper .slide .items #circle11, body #containerBig main #container1 .slider .wrapper .slide .items #circle22, body #containerBig main #container1 .slider .wrapper .slide .items #circle33 {
  background-color: white;
}
body #containerBig main #container1 .slider .wrapper .slide .cover {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
}
body #containerBig main #container1 .slider .wrapper .slide .slContainer .side .buttons :hover {
  background-color: rgb(255, 204, 0);
  color: black;
  border: black;
}
body #containerBig main #container1 .slider .wrapper .slide .slContainer .side #delis {
  font-family: "Nothing You Could Do", cursive;
  font-style: normal;
  font-size: 30px;
  color: rgb(255, 204, 0);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
body #containerBig main #container1 .slider .wrapper .slide .slContainer .side #cuiz {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 25px;
}
body #containerBig main #container1 .slider .wrapper .slide .slContainer .side #text1 {
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 35px;
}
body #containerBig main #container1 .slider .wrapper #sl1 {
  background-image: url(../graphicMaterials/bg_1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #containerBig main #container1 .slider .wrapper #sl1 #items1 {
  bottom: 40px;
}
body #containerBig main #container1 .slider .wrapper #sl1 #slContainer1 {
  position: relative;
  z-index: 2;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 60px;
  margin-right: 4%;
}
body #containerBig main #container1 .slider .wrapper #sl1 #slContainer1 #left1, body #containerBig main #container1 .slider .wrapper #sl1 #slContainer1 #right1 {
  width: 50%;
}
body #containerBig main #container1 .slider .wrapper #sl1 #slContainer1 #left2, body #containerBig main #container1 .slider .wrapper #sl1 #slContainer1 #right2 {
  width: 50%;
}
body #containerBig main #container1 .slider .wrapper #sl1 #slContainer1 #left1 {
  margin-right: 20px;
  text-align: right;
  color: white;
}
body #containerBig main #container1 .slider .wrapper #sl1 #slContainer1 #right1 #imagePizz {
  width: 100%;
  height: 100%;
}
body #containerBig main #container1 .slider .wrapper #sl2 {
  background-image: url(../graphicMaterials/bg_1.jpg);
  background-size: cover;
  color: white;
}
body #containerBig main #container1 .slider .wrapper #sl2 #items2 {
  bottom: 80px;
}
body #containerBig main #container1 .slider .wrapper #sl2 #slContainer2 {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 17%;
  margin-right: 15%;
}
body #containerBig main #container1 .slider .wrapper #sl2 #slContainer2 #left2 #imagePizz2 {
  width: 96%;
  height: 96%;
}
body #containerBig main #container1 .slider .wrapper #sl3 {
  background-image: url(../graphicMaterials/bg_3.jpg);
  background-size: cover;
  color: white;
}
body #containerBig main #container1 .slider .wrapper #sl3 #slContainer3 {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
body #containerBig main #container1 .slider .wrapper #sl3 #slContainer3 .buttons :hover {
  background-color: rgb(255, 204, 0);
  color: black;
  border: black;
}
body #containerBig main #container1 .slider .wrapper #sl3 #slContainer3 #delis {
  font-family: "Nothing You Could Do", cursive;
  font-style: normal;
  font-size: 30px;
  color: rgb(255, 204, 0);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
body #containerBig main #container1 .slider .wrapper #sl3 #slContainer3 #cuiz {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 25px;
}
body #containerBig main #container1 .slider .wrapper #sl3 #slContainer3 #text1 {
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 35px;
}
body #containerBig main #container1 .slider .wrapper #sl3 #slContainer3 #items3 {
  bottom: 40px;
}
body #containerBig main #container2 {
  margin-top: 1;
  width: 100%;
  height: 450px;
  background-image: url(../graphicMaterials/bg_2.jpg);
  background-size: contain;
}
@media (max-width: 600px) {
  body #containerBig main #container2 {
    height: 150px;
  }
}
body #containerBig main #container2 .cover2 {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 450px;
  width: 100%;
  z-index: 2;
}
@media (max-width: 600px) {
  body #containerBig main #container2 .cover2 {
    height: 200px;
  }
}
body #containerBig main #container2 #first, body #containerBig main #container2 #second {
  width: 100%;
  display: flex;
}
body #containerBig main #container2 #first {
  height: 50%;
}
@media (max-width: 600px) {
  body #containerBig main #container2 #first {
    height: 80%;
  }
}
body #containerBig main #container2 #second {
  justify-content: space-around;
  align-items: center;
  z-index: 5;
  height: 50%;
  width: 90%;
  margin-left: 80px;
  color: white;
}
@media (max-width: 600px) {
  body #containerBig main #container2 #second {
    display: none;
  }
}
@media (max-width: 1150px) {
  body #containerBig main #container2 #second {
    margin-left: 50px;
  }
}
@media (max-width: 800px) {
  body #containerBig main #container2 #second {
    margin-left: 30px;
  }
}
body #containerBig main #container2 #second .cubeCont {
  width: 180px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 714px) {
  body #containerBig main #container2 #second .cubeCont {
    font-size: 12px;
  }
}
body #containerBig main #container2 #second .cubeCont .cube {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 1px solid rgb(255, 204, 0);
}
@media (max-width: 714px) {
  body #containerBig main #container2 #second .cubeCont .cube {
    height: 60px;
    width: 60px;
  }
}
body #containerBig main #container2 #second .cubeCont .cube .imgC {
  height: 55px;
  width: 55px;
}
body #containerBig main #container2 #second .cubeCont .num {
  margin-top: 15px;
  margin-bottom: 5px;
  color: rgb(255, 204, 0);
  font-size: 25px;
}
@media (max-width: 714px) {
  body #containerBig main #container2 #second .cubeCont .num {
    font-size: 15px;
  }
}
body #containerBig main #container2 #first .fImage {
  width: 25%;
  height: 100%;
  z-index: 5;
}
body #containerBig main #container2 #first #fImage1 {
  background-image: url(../graphicMaterials/gallery-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
body #containerBig main #container2 #first #fImage2 {
  background-image: url(../graphicMaterials/gallery-2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
body #containerBig main #container2 #first #fImage3 {
  background-image: url(../graphicMaterials/gallery-3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
body #containerBig main #container2 #first #fImage4 {
  background-image: url(Pizza-Layout/gallery-4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
body #containerBig main #container3 {
  height: 90vh;
  width: 100%;
  background-image: url(../graphicMaterials/bg_4.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 570px) {
  body #containerBig main #container3 {
    height: 90vh;
  }
}
body #containerBig main #container3 #pictureCont3 {
  height: 85%;
  width: 40%;
  background-image: url(../graphicMaterials/about.jpg);
  background-repeat: no-repeat;
}
@media (max-width: 882px) {
  body #containerBig main #container3 #pictureCont3 {
    display: none;
  }
}
body #containerBig main #container3 #cont3 {
  width: 60%;
  height: 100%;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 100px;
}
@media (max-width: 882px) {
  body #containerBig main #container3 #cont3 {
    width: 90%;
    padding-right: 50px;
  }
}
body #containerBig main #container3 #cont3 .btList {
  width: 60%;
  display: flex;
  height: 50px;
  justify-content: space-around;
}
body #containerBig main #container3 #cont3 .btList :hover {
  background: rgb(255, 204, 0);
  color: black;
  margin: black;
  cursor: pointer;
}
body #containerBig main #container3 #cont3 .btList .btC3 {
  width: 100px;
  background: transparent;
  border: 1px solid rgb(255, 204, 0);
  color: rgb(255, 204, 0);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
body #containerBig main #container3 #cont3 #productList {
  margin-top: 100px;
  width: 100%;
  height: 200px;
  display: flex;
  color: white;
  text-align: center;
}
@media (max-width: 980px) {
  body #containerBig main #container3 #cont3 #productList {
    margin-top: 50px;
  }
}
@media (max-width: 565px) {
  body #containerBig main #container3 #cont3 #productList {
    font-size: 14px;
  }
}
body #containerBig main #container3 #cont3 #productList .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}
body #containerBig main #container3 #cont3 #productList .product .buttons :hover {
  background-color: rgb(255, 204, 0);
  color: black;
  border: black;
  cursor: pointer;
}
body #containerBig main #container3 #cont3 #productList .product .imgPr {
  width: 140px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
body #containerBig main #container3 #cont3 #productList .product #imgPr1 {
  background-image: url(../graphicMaterials/pizza-1.jpg);
  background-size: contain;
}
body #containerBig main #container3 #cont3 #productList .product #imgPr2 {
  background-image: url(../graphicMaterials/pizza-2.jpg);
  background-size: contain;
}
body #containerBig main #container3 #cont3 #productList .product #imgPr3 {
  background-image: url(../graphicMaterials/pizza-3.png);
  background-size: contain;
}
body #containerBig main #container3 #cont3 #productList .product .textPr {
  color: grey;
  margin-bottom: 15px;
}
body #containerBig main #container3 #cont3 #productList .product .pricePr {
  color: rgb(255, 204, 0);
  margin-bottom: 15px;
  font-size: 18px;
}
body #containerBig main #container3 #cont3 #productList .product .btPr {
  height: 40px;
  width: 100px;
  background: transparent;
  color: white;
  border: 1px solid white;
  font-size: 16px;
}
body #containerBig footer {
  height: 400px;
  width: 84, 5%;
  background-color: black;
  color: white;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 968px) {
  body #containerBig footer {
    font-size: 12px;
  }
}
body #containerBig footer footer :hover {
  color: rgb(255, 204, 0);
}
body #containerBig footer a {
  color: white;
  text-decoration: none;
}
body #containerBig footer #ftContext {
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 770px) {
  body #containerBig footer #ftContext {
    width: 98%;
  }
}
body #containerBig footer #networks {
  height: 40px;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
}
@media (max-width: 770px) {
  body #containerBig footer #networks {
    display: none;
  }
}
body #containerBig footer #networks .net:hover {
  background-color: rgb(255, 204, 0);
  cursor: pointer;
}
body #containerBig footer #networks .net {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
body #containerBig footer #networks .net .netP {
  width: 60%;
  height: 60%;
  margin-left: 8px;
  margin-top: 5px;
}
body #containerBig footer .itemFt {
  width: 25%;
  height: 100%;
  color: white;
}
body #containerBig footer .itemFt h2 {
  font-size: 20px;
  margin-bottom: 40px;
}
body #containerBig footer .itemFt #blockBlog2 {
  padding-top: 10px;
}
body #containerBig footer .itemFt .blockBlog {
  height: 130px;
  width: 100%;
  display: flex;
}
body #containerBig footer .itemFt .blockBlog #imgBlog1 {
  background-image: url(Pizza-Layout/image_1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 878px) {
  body #containerBig footer .itemFt .blockBlog #imgBlog1 {
    display: none;
  }
}
body #containerBig footer .itemFt .blockBlog #imgBlog2 {
  background-image: url(../graphicMaterials/image_2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 878px) {
  body #containerBig footer .itemFt .blockBlog #imgBlog2 {
    display: none;
  }
}
body #containerBig footer .itemFt .blockBlog .contextBlog .hBlog {
  font-size: 12px;
}
@media (max-width: 877px) {
  body #containerBig footer .itemFt .blockBlog .contextBlog #hBlog2 {
    margin-top: 50px;
  }
}
@media (max-width: 650px) {
  body #containerBig footer .itemFt .blockBlog .contextBlog #hBlog2 {
    margin-top: 10px;
  }
}
body #containerBig footer .itemFt .blockBlog .contextBlog :hover {
  color: rgb(255, 204, 0);
  cursor: pointer;
}
body #containerBig footer .itemFt .blockBlog .contextBlog .commBlog {
  font-size: 12px;
  display: flex;
  color: grey;
  padding-top: 10px;
  justify-content: space-between;
  box-sizing: border-box;
}
@media (max-width: 650px) {
  body #containerBig footer .itemFt .blockBlog .contextBlog .commBlog {
    display: none;
  }
}
body #containerBig footer .itemFt .blockBlog .contextBlog .commBlog .comm {
  display: flex;
}
body #containerBig footer .itemFt .blockBlog .contextBlog .commBlog .pictC {
  height: 10px;
  width: 10px;
  margin-top: 3px;
  margin-right: 2px;
}
body #containerBig footer .itemFt .blockBlog .imgBlog {
  width: 50%;
  height: 45%;
  margin-right: 10px;
}
body #containerBig footer .itemFt #blockBlog2 {
  margin-top: -40px;
}
body #containerBig footer #itemFt1 h2 :hover {
  color: rgb(255, 204, 0);
}
body #containerBig footer #itemFt2 div :hover {
  color: rgb(255, 204, 0);
}
body #containerBig footer #itemFt3 {
  width: 10%;
}
@media (max-width: 770px) {
  body #containerBig footer #itemFt3 {
    display: none;
  }
}
body #containerBig footer #itemFt3 :hover {
  color: rgb(255, 204, 0);
}
body #containerBig footer #itemFt3 .services {
  margin-bottom: 10px;
}
body #containerBig footer #itemFt4 h2 {
  text-align: right;
  margin-right: 25px;
}
body #containerBig footer #itemFt4 :hover {
  color: rgb(255, 204, 0);
}
body #containerBig footer #itemFt4 .q {
  display: flex;
  color: white;
  margin-bottom: 10px;
  display: flex;
}
body #containerBig footer #itemFt4 .q .fp {
  height: 15px;
  width: 15px;
  margin-top: 5px;
  margin-right: 15px;
}
@media (max-width: 770px) {
  body #containerBig footer #itemFt4 #mailto {
    display: none;
  }
}
body #containerBig footer #rights {
  font-size: 14px;
}
@media (max-width: 770px) {
  body #containerBig footer #rights {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */