body {
  margin: 0px;
}
body #containerBig {
  width: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
}
body #containerBig header {
  width: 100%;
  height: 12%;
  background-color: black;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 600px) {
  body #containerBig header {
    font-size: 12px;
  }
}
body #containerBig header a {
  color: white;
  text-decoration: none;
}
body #containerBig header .menu :hover {
  color: rgb(255, 204, 0);
}
body #containerBig header .logo-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
  height: 40px;
  width: 100px;
  text-align: right;
}
body #containerBig header .logo-block :nth-child(2) {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  margin-right: 3px;
}
@media (max-width: 600px) {
  body #containerBig header .logo-block :nth-child(2) {
    font-size: 14px;
  }
}
body #containerBig header .logo-block :nth-child(3) {
  font-size: 10px;
  color: rgb(255, 204, 0);
  letter-spacing: 3px;
}
@media (max-width: 600px) {
  body #containerBig header .logo-block :nth-child(3) {
    font-size: 10px;
    letter-spacing: 1px;
  }
}
body #containerBig header .logo-block .logo {
  position: absolute;
  height: 23px;
  width: 25px;
  left: 22px;
  top: 0px;
}
@media (max-width: 600px) {
  body #containerBig header .logo-block .logo {
    height: 18px;
    width: 18px;
    left: 15px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  body #containerBig header .logo-block .logo {
    height: 18px;
    width: 18px;
    left: 20px;
  }
}
body #containerBig header .menu-block {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
body #containerBig main #container1 {
  width: 100%;
  height: 100vh;
  background-image: url(/graphicMaterials/bg_4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
body #containerBig main #container1 #blockH1 {
  padding-top: 7%;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockH1 {
    width: 100vw;
    height: 20%;
  }
}
body #containerBig main #container1 #blockH1 #containerH1 {
  width: 50%;
  height: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 842px) {
  body #containerBig main #container1 #blockH1 #containerH1 {
    height: 18%;
  }
}
@media (max-width: 750px) {
  body #containerBig main #container1 #blockH1 #containerH1 {
    height: 12%;
  }
}
@media (max-width: 652px) {
  body #containerBig main #container1 #blockH1 #containerH1 {
    height: 1%;
    font-size: 18px;
  }
}
body #containerBig main #container1 #blockH1 #containerH1 #h {
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
}
@media (max-width: 652px) {
  body #containerBig main #container1 #blockH1 #containerH1 #h {
    font-size: 28px;
  }
}
@media (max-width: 964px) {
  body #containerBig main #container1 #blockH1 #containerH1 #h {
    margin-top: 15px;
  }
}
body #containerBig main #container1 #blockH1 #containerH1 #textH {
  color: gray;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockH1 #containerH1 #textH {
    font-size: 14px;
  }
}
@media (max-width: 842px) {
  body #containerBig main #container1 #blockH1 #containerH1 #textH {
    display: none;
  }
}
body #containerBig main #container1 #blockMenu {
  width: 100%;
  height: 60%;
  display: flex;
  position: relative;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockMenu {
    width: 100vw;
    height: 80%;
  }
}
body #containerBig main #container1 #blockMenu #cover {
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
body #containerBig main #container1 #blockMenu #menu {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockMenu #menu {
    flex-direction: column;
    top: 8.5%;
  }
}
body #containerBig main #container1 #blockMenu #menu #horyshontal {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockMenu #menu #horyshontal {
    flex-direction: column;
    height: 70%;
    width: 95%;
  }
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH {
  width: 50%;
  height: 50%;
  display: flex;
  box-sizing: border-box;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH {
    width: 40%;
    height: 40%;
  }
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemImg {
  width: 50%;
  height: 100%;
}
@media (max-width: 776px) {
  body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemImg {
    width: 70%;
    height: 80%;
  }
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemImg img {
  width: 100%;
  height: 100%;
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemDesc {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemDesc #text {
  color: gray;
  font-size: 14px;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemDesc #text {
    display: none;
  }
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemDesc #h2 {
  font-size: 16px;
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemDesc #btContainer {
  display: flex;
  width: 100%;
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemDesc #btContainer .buttons button {
  margin-left: 10px;
  height: 30px;
  width: 60px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemDesc #btContainer .buttons :hover {
  background-color: rgb(255, 204, 0);
  color: black;
  border: black;
  cursor: pointer;
}
body #containerBig main #container1 #blockMenu #menu #horyshontal .menuItemH .itemDesc #btContainer #price {
  color: rgb(255, 204, 0);
  margin-top: 3px;
}
body #containerBig main #container1 #blockMenu #menu #vertical {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockMenu #menu #vertical {
    flex-direction: row;
    width: 36%;
    height: 34%;
    position: absolute;
    bottom: 10%;
    left: 7.3%;
  }
}
@media (max-width: 776px) {
  body #containerBig main #container1 #blockMenu #menu #vertical {
    width: 38%;
    height: 30%;
    bottom: 13%;
  }
}
@media (max-width: 569px) {
  body #containerBig main #container1 #blockMenu #menu #vertical {
    width: 41%;
    height: 30%;
    bottom: 13%;
  }
}
body #containerBig main #container1 #blockMenu #menu #vertical .itemImgV {
  width: 100%;
  height: 50%;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockMenu #menu #vertical .itemImgV {
    height: 82%;
  }
}
body #containerBig main #container1 #blockMenu #menu #vertical .itemImgV img {
  width: 100%;
  height: 100%;
}
body #containerBig main #container1 #blockMenu #menu #vertical .itemDeskV {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
}
body #containerBig main #container1 #blockMenu #menu #vertical .itemDeskV #text {
  color: gray;
  font-size: 14px;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockMenu #menu #vertical .itemDeskV #text {
    display: none;
  }
}
body #containerBig main #container1 #blockMenu #menu #vertical .itemDeskV #h2 {
  font-size: 16px;
}
@media (max-width: 1072px) {
  body #containerBig main #container1 #blockMenu #menu #vertical .itemDeskV #h2 {
    margin-bottom: 20px;
  }
}
body #containerBig main #container1 #blockMenu #menu #vertical .itemDeskV #btContainer {
  display: flex;
  width: 100%;
}
body #containerBig main #container1 #blockMenu #menu #vertical .itemDeskV #btContainer .buttons button {
  margin-left: 10px;
  height: 30px;
  width: 60px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
body #containerBig main #container1 #blockMenu #menu #vertical .itemDeskV #btContainer .buttons :hover {
  background-color: rgb(255, 204, 0);
  color: black;
  border: black;
}
body #containerBig main #container1 #blockMenu #menu #vertical .itemDeskV #btContainer #price {
  color: rgb(255, 204, 0);
  margin-top: 3px;
}
body #containerBig main #container2 {
  width: 100%;
  height: 100vh;
  background-image: url(/graphicMaterials/bg_4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
body #containerBig main #container2 #blockH1 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #containerBig main #container2 #blockH1 #containerH1 {
  width: 50%;
  height: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
body #containerBig main #container2 #blockH1 #containerH1 #h {
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
}
@media (max-width: 652px) {
  body #containerBig main #container2 #blockH1 #containerH1 #h {
    font-size: 28px;
  }
}
body #containerBig main #container2 #blockH1 #containerH1 #picture {
  width: 160px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
body #containerBig main #container2 #blockH1 #containerH1 #picture .line {
  height: 1px;
  width: 50px;
  background-color: rgb(255, 204, 0);
  opacity: 0.7;
}
body #containerBig main #container2 #blockH1 #containerH1 #picture #starsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #containerBig main #container2 #blockH1 #containerH1 #picture #starsBlock .star {
  background-color: rgb(255, 204, 0);
  transform: rotate(45deg);
  overflow: hidden;
}
body #containerBig main #container2 #blockH1 #containerH1 #picture #starsBlock #bigStar {
  width: 10px;
  height: 10px;
  margin-left: 7px;
  margin-right: 7px;
}
body #containerBig main #container2 #blockH1 #containerH1 #picture #starsBlock #smallStar {
  width: 7px;
  height: 7px;
}
body #containerBig main #container2 #blockH1 #containerH1 #textH {
  color: gray;
}
@media (max-width: 713px) {
  body #containerBig main #container2 #blockH1 #containerH1 #textH {
    font-size: 14px;
  }
}
@media (max-width: 569px) {
  body #containerBig main #container2 #blockH1 #containerH1 #textH {
    display: none;
  }
}
body #containerBig main #container2 #blockMenu {
  width: 100%;
  height: 60%;
  position: relative;
  display: flex;
}
body #containerBig main #container2 #blockMenu #left, body #containerBig main #container2 #blockMenu #right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  box-sizing: border-box;
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock {
  height: 20%;
  width: 100%;
  display: flex;
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock .pizzaImg {
  height: 100%;
  width: 13%;
  background-color: beige;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock #pizzaImg1 {
  background-image: url(/graphicMaterials/pizza-1.jpg);
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock #pizzaImg2 {
  background-image: url(/graphicMaterials/pizza-2.jpg);
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock #pizzaImg3 {
  background-image: url(/graphicMaterials/pizza-3.png);
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock #pizzaImg4 {
  background-image: url(/graphicMaterials/pizza-4.jpg);
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock .pizzaCont {
  height: 100%;
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock .pizzaCont .pizzaText {
  color: grey;
}
@media (max-width: 551px) {
  body #containerBig main #container2 #blockMenu #left .pizzaBlock .pizzaCont .pizzaText {
    display: none;
  }
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock .pizzaCont .pizzaHcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock .pizzaCont .pizzaHcont .pizzaH {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  border-bottom: dashed 1px rgb(255, 204, 0);
  width: 85%;
}
body #containerBig main #container2 #blockMenu #left .pizzaBlock .pizzaCont .pizzaHcont .pizzaPrice {
  color: rgb(255, 204, 0);
  margin-top: 10px;
  font-size: 16px;
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock {
  height: 20%;
  width: 100%;
  display: flex;
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock .pizzaImg {
  height: 100%;
  width: 13%;
  background-color: beige;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock #pizzaImg5 {
  background-image: url(/graphicMaterials/pizza-5.jpg);
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock #pizzaImg6 {
  background-image: url(/graphicMaterials/pizza-6.jpg);
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock #pizzaImg7 {
  background-image: url(/graphicMaterials/pizza-7.jpg);
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock #pizzaImg8 {
  background-image: url(/graphicMaterials/pizza-8.jpg);
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock .pizzaCont {
  height: 100%;
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock .pizzaCont .pizzaText {
  color: grey;
}
@media (max-width: 551px) {
  body #containerBig main #container2 #blockMenu #right .pizzaBlock .pizzaCont .pizzaText {
    display: none;
  }
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock .pizzaCont .pizzaHcont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock .pizzaCont .pizzaHcont .pizzaH {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  border-bottom: dashed 1px rgb(255, 204, 0);
  width: 85%;
}
body #containerBig main #container2 #blockMenu #right .pizzaBlock .pizzaCont .pizzaHcont .pizzaPrice {
  color: rgb(255, 204, 0);
  margin-top: 10px;
  font-size: 16px;
}
body #containerBig footer {
  height: 400px;
  width: 84, 5%;
  background-color: black;
  color: white;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 968px) {
  body #containerBig footer {
    font-size: 12px;
  }
}
body #containerBig footer footer :hover {
  color: rgb(255, 204, 0);
}
body #containerBig footer a {
  color: white;
  text-decoration: none;
}
body #containerBig footer #ftContext {
  height: 65%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 770px) {
  body #containerBig footer #ftContext {
    width: 98%;
  }
}
body #containerBig footer #networks {
  height: 40px;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
}
@media (max-width: 770px) {
  body #containerBig footer #networks {
    display: none;
  }
}
body #containerBig footer #networks .net:hover {
  background-color: rgb(255, 204, 0);
  cursor: pointer;
}
body #containerBig footer #networks .net {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
body #containerBig footer #networks .net .netP {
  width: 60%;
  height: 60%;
  margin-left: 8px;
  margin-top: 5px;
}
body #containerBig footer .itemFt {
  width: 25%;
  height: 100%;
  color: white;
}
body #containerBig footer .itemFt h2 {
  font-size: 20px;
  margin-bottom: 40px;
}
body #containerBig footer .itemFt #blockBlog2 {
  padding-top: 10px;
}
body #containerBig footer .itemFt .blockBlog {
  height: 130px;
  width: 100%;
  display: flex;
}
body #containerBig footer .itemFt .blockBlog #imgBlog1 {
  background-image: url(/graphicMaterials/image_1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 878px) {
  body #containerBig footer .itemFt .blockBlog #imgBlog1 {
    display: none;
  }
}
body #containerBig footer .itemFt .blockBlog #imgBlog2 {
  background-image: url(/graphicMaterials/image_2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 878px) {
  body #containerBig footer .itemFt .blockBlog #imgBlog2 {
    display: none;
  }
}
body #containerBig footer .itemFt .blockBlog .contextBlog .hBlog {
  font-size: 12px;
}
@media (max-width: 877px) {
  body #containerBig footer .itemFt .blockBlog .contextBlog #hBlog2 {
    margin-top: 50px;
  }
}
@media (max-width: 650px) {
  body #containerBig footer .itemFt .blockBlog .contextBlog #hBlog2 {
    margin-top: 10px;
  }
}
body #containerBig footer .itemFt .blockBlog .contextBlog :hover {
  color: rgb(255, 204, 0);
  cursor: pointer;
}
body #containerBig footer .itemFt .blockBlog .contextBlog .commBlog {
  font-size: 12px;
  display: flex;
  color: grey;
  padding-top: 10px;
  justify-content: space-between;
  box-sizing: border-box;
}
@media (max-width: 650px) {
  body #containerBig footer .itemFt .blockBlog .contextBlog .commBlog {
    display: none;
  }
}
body #containerBig footer .itemFt .blockBlog .contextBlog .commBlog .comm {
  display: flex;
}
body #containerBig footer .itemFt .blockBlog .contextBlog .commBlog .pictC {
  height: 10px;
  width: 10px;
  margin-top: 3px;
  margin-right: 2px;
}
body #containerBig footer .itemFt .blockBlog .imgBlog {
  width: 50%;
  height: 45%;
  margin-right: 10px;
}
body #containerBig footer .itemFt #blockBlog2 {
  margin-top: -40px;
}
body #containerBig footer #itemFt1 h2 :hover {
  color: rgb(255, 204, 0);
}
body #containerBig footer #itemFt2 div :hover {
  color: rgb(255, 204, 0);
}
body #containerBig footer #itemFt3 {
  width: 10%;
}
@media (max-width: 770px) {
  body #containerBig footer #itemFt3 {
    display: none;
  }
}
body #containerBig footer #itemFt3 :hover {
  color: rgb(255, 204, 0);
}
body #containerBig footer #itemFt3 .services {
  margin-bottom: 10px;
}
body #containerBig footer #itemFt4 h2 {
  text-align: right;
  margin-right: 25px;
}
body #containerBig footer #itemFt4 :hover {
  color: rgb(255, 204, 0);
}
@media (max-width: 770px) {
  body #containerBig footer #itemFt4 #mailto {
    display: none;
  }
}
body #containerBig footer #itemFt4 .q {
  display: flex;
  color: white;
  margin-bottom: 10px;
  display: flex;
}
body #containerBig footer #itemFt4 .q .fp {
  height: 15px;
  width: 15px;
  margin-top: 5px;
  margin-right: 15px;
}
body #containerBig footer #rights {
  font-size: 14px;
}
@media (max-width: 770px) {
  body #containerBig footer #rights {
    display: none;
  }
}/*# sourceMappingURL=menu.css.map */